
/* Your CSS Code here. */
.holder {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px; /* Optional spacing between boxes */
  padding: 10px;
}

.item {
  height: 100px;
  width: 100px;
  color: white;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}
