.holder {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;       /* full width container */
}

.item {
  width: 100px;
  height: 100px;
  color: black;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;  /* space when wrapped */
}

.green { background-color: green; }
.red   { background-color: red;   }
.blue  { background-color: blue;  }
